.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1083px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -60px;
}

#u69
{
	z-index: 3;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	left: -100px;
	background: #DFDFDF url("../images/2000pixwl-u69-fr.png") no-repeat center top;
	background-color: rgba(127, 127, 127, 0.25);
	background-size: cover !important;
}

#u69_position_content
{
	margin-top: 5px;
	margin-bottom: 166px;
}

#home
{
	position: relative;
}

#u823
{
	z-index: 8;
	width: 466px;
	left: 347px;
	margin-top: 83px;
	position: relative;
}

#u858
{
	z-index: 10;
	width: 955px;
	left: 103px;
	margin-top: 18px;
	position: relative;
}

#slideshowu717
{
	z-index: 11;
	width: 0.01px;
	height: 276px;
	position: relative;
	margin-right: -10000px;
}

#u744
{
	position: absolute;
	width: 834px;
	height: 276px;
	background-color: transparent;
	left: 60px;
}

#u744popup
{
	z-index: 12;
}

#u745
{
	z-index: 13;
	width: 834px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u745_img
{
	margin-top: -128px;
	margin-bottom: -145px;
}

#u862
{
	z-index: 15;
	width: 834px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u862_img
{
	margin-left: 1px;
	margin-bottom: -16px;
}

#u848
{
	z-index: 17;
	width: 834px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u745_clip,#u862_clip,#u848_clip
{
	overflow: hidden;
	width: 834px;
	height: 276px;
}

#u848_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u762
{
	position: absolute;
	width: 818px;
	top: 189px;
	left: 67px;
}

#u762popup
{
	z-index: 19;
}

#u763-4
{
	z-index: 20;
	width: 798px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #B2B2B2;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 28px;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.3);
}

#u868-4
{
	z-index: 24;
	width: 798px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #B2B2B2;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 28px;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.3);
}

#u854-6
{
	z-index: 28;
	width: 798px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #B2B2B2;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 28px;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.3);
}

#u758-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.53);
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 118px;
	-pie-background: rgba(255, 255, 255, 0.53);
}

#u758-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
	-pie-background: rgba(255, 255, 255, 1);
}

#u758-4popup
{
	z-index: 34;
}

#u758
{
	color: #999999;
}

#u759-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.53);
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 118px;
	left: 925px;
	-pie-background: rgba(255, 255, 255, 0.53);
}

#u759-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
	-pie-background: rgba(255, 255, 255, 1);
}

#u759-4popup
{
	z-index: 38;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu379
{
	width: 0.01px;
	padding-bottom: 130px;
	left: -100px;
	top: -700px;
	margin-bottom: -130px;
	position: relative;
}

#u379
{
	z-index: 4;
	width: 148px;
	position: fixed;
	top: 76px;
	left: -100px;
}

#u379_clip
{
	overflow: hidden;
	width: 148px;
	height: 54px;
}

#u379_img
{
	margin-bottom: -1px;
}

.js #u379.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u225
{
	z-index: 122;
	width: 142px;
	position: fixed;
	top: -1px;
	left: 239px;
}

#u223
{
	z-index: 123;
	width: 138px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.7);
}

#u223:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u224-4
{
	z-index: 124;
	width: 140px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u226
{
	z-index: 128;
	width: 142px;
	position: fixed;
	top: -1px;
	left: 383px;
}

#u227
{
	z-index: 129;
	width: 138px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.7);
}

#u227:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u228-4
{
	z-index: 130;
	width: 140px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u229
{
	z-index: 134;
	width: 142px;
	position: fixed;
	top: -1px;
	left: 528px;
}

#u230
{
	z-index: 135;
	width: 138px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.7);
}

#u230:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u231-4
{
	z-index: 136;
	width: 140px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u232
{
	z-index: 140;
	width: 142px;
	position: fixed;
	top: -1px;
	left: 672px;
}

#u234
{
	z-index: 141;
	width: 138px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.7);
}

#u234:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u234:active
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u233-4
{
	z-index: 142;
	width: 140px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u235
{
	z-index: 146;
	width: 142px;
	position: fixed;
	top: -1px;
	left: 817px;
}

#u237
{
	z-index: 147;
	width: 138px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.7);
}

#u237:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u237:active
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.9);
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.9);
}

#u236-4
{
	z-index: 148;
	width: 140px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u224-4:hover,#u228-4:hover,#u231-4:hover,#u233-4:hover,#u236-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 4px -10000px 0px 0px;
}

#u224-4:hover p,#u228-4:hover p,#u231-4:hover p,#u233-4:hover p,#u236-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#pu2318
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u2318
{
	z-index: 2;
	width: 1160px;
	border-color: #000000;
	padding-bottom: 696px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/00289861%20w1500pixel.jpg") no-repeat center top;
	background-size: cover !important;
}

#u69_align_to_page,#u2318_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#tentangkami
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 9px;
}

#pamphletu908
{
	z-index: 42;
	width: 0.01px;
	height: 186px;
	padding-bottom: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	left: 127px;
}

#u913
{
	position: absolute;
	width: 739px;
	left: 169px;
}

#u913popup
{
	z-index: 43;
}

#u919
{
	z-index: 44;
	width: 739px;
	height: 351px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(0, 0, 0, 0.5);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.5);
}

#u920-11
{
	z-index: 45;
	width: 691px;
	min-height: 297px;
	color: #FFFFFF;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 24px;
}

#u921
{
	float: left;
	margin-right: 17px;
}

#u922
{
	z-index: 50;
	width: 298px;
	height: 297px;
	background: transparent url("../images/img_1215.jpg") no-repeat center center;
	background-size: contain !important;
}

#u920-3,#u920-5
{
	text-align: center;
	font-weight: bold;
}

#u920-6,#u920-7
{
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u920-9
{
	text-align: justify;
	line-height: 20px;
	font-weight: normal;
}

#u924
{
	z-index: 58;
	width: 739px;
	height: 351px;
	border-style: none;
	border-color: transparent;
	background-color: #B7FFB7;
	background-color: rgba(0, 255, 0, 0.28);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 255, 0, 0.28);
}

#u925-22
{
	z-index: 59;
	width: 703px;
	min-height: 335px;
	text-align: left;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 24px;
}

#u926
{
	float: left;
	margin-top: -22px;
	margin-bottom: 22px;
	margin-right: 21px;
}

#u927
{
	z-index: 64;
	width: 355px;
	height: 307px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/img_5421%20edited-u927-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u914
{
	z-index: 83;
	width: 739px;
	height: 351px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6BFF;
	background-color: rgba(0, 0, 255, 0.58);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 255, 0.58);
}

#u915-11
{
	z-index: 84;
	width: 690px;
	min-height: 224px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 20px;
}

#u916
{
	float: left;
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 17px;
}

#u917
{
	z-index: 90;
	width: 413px;
	height: 271px;
	background: transparent url("../images/zxz%20zd%20-u917-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u915-4,#u915-6,#u915-7
{
	font-weight: bold;
}

#u915-9
{
	line-height: 20px;
}

#u929
{
	z-index: 97;
	width: 128px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 30px;
}

#pu930
{
	position: absolute;
	width: 0.01px;
	top: -10px;
	left: -30px;
}

#u930
{
	position: absolute;
	width: 166px;
	height: 40px;
	border-color: #DEDEDE;
	background-color: #7C7C7C;
	background-color: rgba(0, 0, 0, 0.51);
	margin-top: 1px;
	margin-left: 1px;
	-pie-background: rgba(0, 0, 0, 0.51);
}

#pu930:hover #u930
{
	width: 166px;
	height: 40px;
	background-image: none;
	border-style: none;
	border-color: #999999;
	background-color: #CCCCCC;
	background-color: rgba(0, 0, 0, 0.2);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 1px;
	left: 0px;
	margin-left: 1px;
}

#pu930.PamphletThumbSelected #u930
{
	width: 163px;
	height: 37px;
	background-image: none;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #999999;
	background-color: rgba(0, 0, 0, 0.4);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u931-4
{
	z-index: 100;
	width: 107px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
}

#pu930:hover #u931-4
{
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 107px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 29px;
	min-height: 20px;
}

#pu930.PamphletThumbSelected #u931-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 107px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 27px;
	min-height: 20px;
}

#pu930:hover #u931-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu930 #u931-4
{
	position: relative;
	width: 107px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 29px;
}

#pu932
{
	position: absolute;
	width: 0.01px;
	top: 68px;
	left: -30px;
}

#u932
{
	position: absolute;
	width: 166px;
	height: 40px;
	border-color: #DEDEDE;
	background-color: #99FF99;
	background-color: rgba(0, 255, 0, 0.4);
	margin-top: 1px;
	margin-left: 1px;
	-pie-background: rgba(0, 255, 0, 0.4);
}

#pu932:hover #u932
{
	width: 166px;
	height: 40px;
	background-image: none;
	border-style: none;
	border-color: #999999;
	background-color: #99FF99;
	background-color: rgba(0, 255, 0, 0.4);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 1px;
	left: 0px;
	margin-left: 1px;
}

#pu932.PamphletThumbSelected #u932
{
	width: 163px;
	height: 37px;
	background-image: none;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #66FF66;
	background-color: rgba(0, 255, 0, 0.6);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u933-4
{
	z-index: 108;
	width: 127px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
}

#pu932:hover #u933-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 127px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 30px;
	min-height: 20px;
}

#pu932.PamphletThumbSelected #u933-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 127px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 28px;
	min-height: 20px;
}

#pu932:hover #u933-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu932 #u933-4
{
	position: relative;
	width: 127px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 30px;
}

#pu934
{
	position: absolute;
	width: 0.01px;
	top: 146px;
	left: -31px;
}

#u934
{
	position: absolute;
	width: 166px;
	height: 40px;
	border-color: #DEDEDE;
	background-color: #9999FF;
	background-color: rgba(0, 0, 255, 0.4);
	margin-top: 1px;
	margin-left: 1px;
	-pie-background: rgba(0, 0, 255, 0.4);
}

#pu934:hover #u934
{
	width: 166px;
	height: 40px;
	background-image: none;
	border-style: none;
	border-color: #999999;
	background-color: #9999FF;
	background-color: rgba(0, 0, 255, 0.4);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 1px;
	left: 0px;
	margin-left: 1px;
}

#pu934.PamphletThumbSelected #u934
{
	width: 163px;
	height: 37px;
	background-image: none;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #9999FF;
	background-color: rgba(0, 0, 255, 0.4);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u935-4
{
	z-index: 116;
	width: 75px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
}

#pu934:hover #u935-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 75px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 45px;
	min-height: 20px;
}

#pu934.PamphletThumbSelected #u935-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 75px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 43px;
	min-height: 20px;
}

#pu934:hover #u935-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu930.PamphletThumbSelected #u931-4 p,#pu932.PamphletThumbSelected #u933-4 p,#pu934.PamphletThumbSelected #u935-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.4;
	font-size: 16px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu934 #u935-4
{
	position: relative;
	width: 75px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 45px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u2338
{
	z-index: 157;
	width: 222px;
	margin-left: 369px;
	top: -139px;
	margin-bottom: -69px;
	position: relative;
}

#u2337
{
	z-index: 158;
	width: 222px;
	height: 69px;
	border-color: #000000;
	background-color: #6B6B6B;
	background-color: rgba(0, 0, 0, 0.58);
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.58);
}

#u1651-4
{
	z-index: 159;
	width: 211px;
	min-height: 19px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 11px;
	top: -59px;
	margin-bottom: -19px;
	position: relative;
}

#u1654-4
{
	z-index: 163;
	width: 211px;
	min-height: 19px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	margin-left: 11px;
	top: -29px;
	margin-bottom: -19px;
	position: relative;
}

#u1651-4:hover,#u1654-4:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px 0px -19px 11px;
}

#u1650-5
{
	z-index: 152;
	width: 1160px;
	min-height: 43px;
	border-color: #000000;
	background-color: #C1C1C1;
	background-color: rgba(127, 127, 127, 0.48);
	text-align: center;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	left: -100px;
	top: -43px;
	margin-bottom: -43px;
	-pie-background: rgba(127, 127, 127, 0.48);
}

body
{
	padding-top: 60px;
}

#page .verticalspacer
{
	clear: both;
}

